* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding: 20px;
    background-color: transparent;
    width: 130px;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
button:hover {
    color: white;
}
button::before {
    content: '';
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 65px 0 0 rgb(20, 105, 105) inset;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    z-index: -1;

}
button:hover::before {
    top: 0;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}


